@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
    z-index: 4;
    font-family: "Poppins", serif;
}

body {
    height: 100vh;
    width: 100%;
    z-index: 1;
    
}

section {
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FADADD;
    overflow: hidden;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    height: 70%;
    border: 2px solid black;
    width: 33%;
}

.image-box {
    height: 70%;
    width: 100%;
}

.actual-image {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif {
    height: 90%;
    width: 64%;
}

.text-one {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgba(0, 0, 0, 0.164);
}

.yes-no {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.yes {
    font-family: "Bagel Fat One", serif;
    font-size: 7vh;
    font-weight: 550;
    height: 60%;
    width: 40%;
    border: none;
    cursor: pointer;
    background-color: #FB607F;
    scale: 1;
    z-index: 500;
    box-shadow: 4px 4px 10px black;
    transition: scale 0.1s ease-in;
}

.no {
    font-family: "Bagel Fat One", serif;
    font-size: 7vh;
    font-weight: 550;
    height: 60%;
    width: 40%;
    border: none;
    cursor: pointer;
    background-color: #FB607F;
    scale: 1;
    box-shadow: 4px 4px 10px black;
    transition: scale 0.1s ease-in;
}

.yes:hover, .no:hover {
    opacity: 0.95;
    scale: 0.95;
}

a {
    text-decoration: none;
    font-family: "Allura", serif;
    font-size: 7vh;
}

/* for mobile display */
@media (min-width:200px) and (max-width:1025px) {
    .container {
        height: 80%;
        width: 98%;
    }
    .gif {
        height: 90%;
        width: 80%;
    }
}